# Visual Studio cache and temporary folders
.vs/
*.ipch
*.vscache
# IDE and compiler artifacts
.vs/
*.ipch
*.db
*.pdb
*.exe
*.a
xsim.dir
# Vivado and simulation artifacts
*.wdb
*.dbg
*.mem
*.svtype
*.ilk
*.obj
xsim.dir/
covhtmlreport/

